DATABASE_URL="postgresql://postgres:password@localhost:5432/inventario_bodega_local"
DIRECT_URL="postgresql://postgres:password@localhost:5432/inventario_bodega_local"
PORT=3001
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,https://TU-FRONTEND.vercel.app
JWT_SECRET=clave_local_desarrollo
JWT_EXPIRES_IN=8h
